* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px hidden white;
}
.App {
  background: linear-gradient(to right top, #3be2c3, #6cdbeb);
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.DarkApp {
  background: linear-gradient(to right top, rgb(65, 0, 65), rgb(0, 0, 60));
  min-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.App-header {
  position: fixed;
  width: 99%;
  height: 10%;
  top: 0.5rem;
}
.navbar {
  height: 4.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-bg {
  background: rgba(255, 255, 255, 0.685);
  height: 4.5rem;
  width: 100vw;
  position: absolute;
  z-index: 0;
  filter: blur(0.4rem);
}
.dark-navbar-bg {
  background: rgba(0, 0, 0, 0.568);
  height: 4.5rem;
  width: 100vw;
  position: absolute;
  z-index: 0;
  filter: blur(0.4rem);
}

.navbar-bg-bottom {
  background: rgba(255, 255, 255, 0.548);
  height: 13rem;
  width: 100vw;
  position: absolute;
  z-index: 0;
  filter: blur(0.4rem);
}

.dark-navbar-bg-bottom {
  background: rgba(0, 0, 0, 0.568);
  height: 13rem;
  width: 100vw;
  position: absolute;
  z-index: 0;
  filter: blur(0.4rem);
}

.logo {
  display: flex;
  flex-grow: 1;
  z-index: 2;
  position: relative;
  margin-left: 1rem;
}

.nav-titles {
  color: black;
  font-family: "Andada Pro", serif;
  font-weight: 600;
}

.dark-nav-titles {
  color: rgba(255, 255, 255, 0.863);
  font-family: "Andada Pro", serif;
  font-weight: 600;
}

.navAncors {
  text-decoration: none;
}

.navCategorys {
  position: relative;
  flex-grow: 0.2;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

.circulUp {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.836),
    rgba(255, 255, 255, 0.226)
  );
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 4rem;
  z-index: 1;
}
.dark-circulUp {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.836),
    rgba(180, 180, 180, 0.226)
  );
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 4rem;
  z-index: 1;
}
.circulToRight {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.836),
    rgba(255, 255, 255, 0.226)
  );
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 1rem;
}
.dark-circulToRight {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.836),
    rgba(180, 180, 180, 0.226)
  );
  width: 150px;
  height: 150px;
  transform: rotate(0deg);
  border-radius: 50%;
  position: absolute;
  top: 25;
  left: 1rem;
}

.fullPage {
  height: 90vh;
  width: 99vw;
}

.large-title {
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 6rem;
}

.dark-large-title {
  color: rgba(255, 255, 255, 0.863);
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 6rem;
}

.title {
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 2.4rem;
}
.dark-title {
  color: rgba(255, 255, 255, 0.863);
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 2.4rem;
}

.mini-title {
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 1.8rem;
}
.dark-mini-title {
  color: rgba(255, 255, 255, 0.863);
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 1.8rem;
}

.mini-mini-title {
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 1.45rem;
}
.dark-mini-mini-title {
  color: rgba(255, 255, 255, 0.863);
  font-family: "Andada Pro", serif;
  font-weight: 800;
  font-size: 1.45rem;
}
.social-upper {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 15rem;
}
.social-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-icons {
  width: 6rem;
  height: 6rem;
  filter: invert(0);
}
.bottom-nav-icons {
  width: 3rem;
  height: 3rem;
  filter: invert(0);
}

.about-main {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about-section {
  display: flex;
  gap: 1.6rem;
  padding-top: 1.6rem;
}
.text {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}
.dark-text {
  color: rgba(255, 255, 255, 0.863);
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1.6rem 0;
}
.about-main-text {
}
.small-Text {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-align: justify;
}

.dark-small-Text {
  color: rgba(255, 255, 255, 0.863);
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
}

.dodel {
  display: none;
}

.dodel-about {
  height: 18rem;
  width: 15rem;
  z-index: 3;
}

.width-80 {
  width: 80%;
}

.test {
  background-color: black;
  width: 15rem;
  height: 15rem;
  border-radius: 15px;
}

.max-imag-carousel {
  max-width: min-content;
  height: 15rem;
}

.carousel_card {
  background: rgba(255, 255, 255, 0.438);
  z-index: 0;
  backdrop-filter: blur(0.4rem);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(153, 152, 152, 0.623);
}
.dark-carousel_card {
  background: rgba(99, 98, 98, 0.397);
  z-index: 0;
  backdrop-filter: blur(0.4rem);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(153, 152, 152, 0.623);
}

.innerCarousel {
  width: fit-content;
}
.carousel-size {
  width: 350px;
}

.socialIconGap {
  gap: 2rem;
}
/* ------------------------------------------------- */
@media screen and (max-width: 768px) {
  .circulUp,
  .dark-circulUp {
    width: 120px;
    height: 120px;
    right: 3rem;
  }

  .circulToRight,
  .dark-circulToRight {
    width: 120px !important;
    height: 120px !important;
    top: 20px;
    left: 1rem;
  }

  .social-upper {
    margin-top: 10rem;
  }

  .large-title,
  .dark-large-title {
    font-size: 4.2rem;
  }

  .social-main {
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    justify-content: center;
  }
  .title,
  .dark-title {
    font-size: 2rem;
  }

  .socialIconGap {
    gap: 1.75rem;
  }
  .social-icons {
    width: 4rem;
    height: 4rem;
  }

  .text,
  .dark-text {
    font-size: 1.2rem;
  }

  .mini-title,
  .dark-mini-title {
    font-size: 1.5rem;
  }

  .small-Text,
  .dark-small-Text {
    font-size: 1rem;
  }

  .dodel {
    display: block;
    width: 15rem;
    z-index: 3;
  }
  .dodel-about {
    display: none;
  }

  .carousel-size {
    width: 12.5rem;
  }
  .mini-mini-title,
  .dark-mini-mini-title {
    font-size: 1.25rem;
  }

  .max-imag-carousel {
    width: 13rem;
    height: 11rem;
  }
}

@media screen and (max-width: 425px) {
  .nav-titles,
  .dark-nav-titles {
    font-size: 1.3rem;
    margin: 0 0.25rem;
  }

  .circulUp,
  .dark-circulUp {
    width: 75px;
    height: 75px;
    right: 0rem;
  }

  .circulToRight,
  .dark-circulToRight {
    width: 75px !important;
    height: 75px !important;
    top: 50px;
    left: 1rem;
  }

  .large-title,
  .dark-large-title {
    font-size: 3.5rem;
    margin-left: 0.3rem;
  }

  .title,
  .dark-title {
    font-size: 1.75rem;
    margin-left: 0.3rem;
  }
  .socialIconGap {
    gap: 1rem;
  }
  .social-icons {
    width: 3rem;
    height: 3rem;
  }

  .text,
  .dark-text {
    font-size: 0.9rem;
  }

  .about-main-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
  }

  .about-section {
    flex-direction: column;
    gap: 1.2rem;
    padding-top: 1.2rem;
  }
  .mini-title,
  .dark-mini-title {
    font-size: 1rem;
  }

  .small-Text,
  .dark-small-Text {
    font-size: 0.7rem;
  }
  .dodel {
    height: 13rem;
  }
  .dodel-about {
    display: none;
  }
  .carousel-size {
    width: 7rem;
  }
  .mini-mini-title,
  .dark-mini-mini-title {
    font-size: 1rem;
  }

  .max-imag-carousel {
    width: 9rem;
    height: 7rem;
  }
}

@media screen and (max-width: 320px) {
  .carousel-size {
    width: 11rem;
  }
  .mini-mini-title,
  .dark-mini-mini-title {
    font-size: 1.2rem;
  }

  .max-imag-carousel {
    width: 12rem;
    height: 10rem;
  }
}
